!
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wello</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <!-- start::SkipToContent -->
    <a class="skip-to-content" href="#main">Skip To Content</a>
    <!-- end::SkipToContent -->

    <!-- start::Header -->
    <header>
      <!-- start::Navigation -->
      <nav class="navbar-container">
        <!-- start::Hamburger Button -->
        <button class="navbar-toggler" tabindex="0" data-target="#navbar-list">
          <i class="fas fa-bars"></i>
        </button>
        <!-- end::Hamburger Button -->

        <!-- start::logo -->
        <div></div>
        <!-- end::logo -->
        <ul id="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="/"> Home </a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#"> Favorite </a>
          </li>
          <li class="navbar-item">
            <a
              class="navbar-link"
              href="https://github.com/david-yappeter"
              target="_blank"
              rel="noopener noreferrer">
              About Us
            </a>
          </li>
        </ul>
      </nav>
      <!-- end::Navigation -->
    </header>
    <!-- end::Header -->

    <!-- start::Main -->
    <main id="main">
      <!-- start::MainBackgroundImage -->
      <div></div>
      <!-- end::MainBackgroundImage -->

      <!-- start::ExploreRestaurant -->
      <div>
        <div>
          <h2>Explore Restaurant</h2>
        </div>
        <div id="restaurant-list">
          <!-- generated -->
        </div>
      </div>
      <!-- end::ExploreRestaurant -->
    </main>
    <!-- end::Main -->

    <!-- start::Footer -->
    <footer>
      <div>
        <h5>copyright &copy; 2020 - Wello Apps</h5>
      </div>
    </footer>
    <!-- end::Footer -->
  </body>
</html>
