<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <!-- start::Header -->
    <header>
      <!-- start::logo -->
      <div></div>
      <!-- end::logo -->

      <!-- start::Navigation -->
      <nav class="navbar-container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="/"> Home </a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#"> Favorite </a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="https://github.com/david-yappeter">
              About Us
            </a>
          </li>
        </ul>
      </nav>
      <!-- end::Navigation -->
    </header>
    <!-- end::Header -->

    <!-- start::Main -->
    <main>
      <!-- start::MainBackgroundImage -->
      <div></div>
      <!-- end::MainBackgroundImage -->

      <!-- start::ExploreRestaurant -->
      <div>
        <div>
          <h2>Explore Restaurant</h2>
        </div>
        <div id="restaurant-list">
          <!-- generated -->
        </div>
      </div>
      <!-- end::ExploreRestaurant -->
    </main>
    <!-- end::Main -->

    <!-- start::Footer -->
    <footer>
      <div>
        <h5>copyright &copy; 2020 - Wello Apps</h5>
      </div>
    </footer>
    <!-- end::Footer -->
  </body>
</html>
