<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>Wello</title>
  </head>
  <body>
    <a class="skip-to-content" onclick="stopPropagation()" href="#content"
      >Skip To Content</a
    >
    <header id="header">
      <nav class="navbar">
        <h1 class="logo"><a href="#/">Wello</a></h1>
        <button
          id="navbar-toggler"
          data-target="#nav-list"
          aria-label="button drawer">
          <i style="color: white" class="fa-2xl fa-solid fa-bars"></i>
        </button>
        <ul id="nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#/favourite">Favorites</a></li>
          <li>
            <a
              href="https://github.com/david-yappeter"
              target="_blank"
              rel="noreferrer noopener"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="content"></main>
    <the-footer>
      <footer id="footer" tabindex="0">
        <p>Wello &copy; 2023</p>
      </footer>
    </the-footer>
  </body>
</html>
