/* Josefins Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// global
:root {
  --primary: #000000;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
  font-family: 'Josefins Sans','Segoe UI','Tahoma','Geneva','Verdana','sans-serif';
  color: var(--primary);
}

p,
span,
input,
button,
.body1 {
  font-family: 'Poppins', 'Courier New', 'Courier', 'monospace';
  color: var(--primary);
}

img {
  display: block;
}
